
.nav li {
	float: left;
	font-size: 13px;
	color: #cdc4d1 !important;
	list-style: none;
	padding: 5px;
}
.nav a {
	text-decoration: none;
	color: #cdc4d1 !important;
}
.header {
	text-align: center;
	height: 200px;
	background-color: #a088d5;
	color: #e0e000;
	padding-top: 50px;
	border-radius: 5px;
}
.enter-choice {
	background-color: #add3f2;
	height: 200px;
	margin-top: 15px;
	border-radius: 5px;
	padding-top: 50px;
}
.enter-choice p {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
.enter-choice input {
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 35em;
	height: 30px;
}
.result-area {
	height: 200px;
	text-align: center;
	background-color: #ed6aa8;
	border-radius: 5px;
	margin-top: 15px;
	padding-top: 75px;
}
.result-area p {
	font-size: 22px;
	color: #45fb08;
}
.result-area img:first-child {
	margin-left: 50px;
	margin-right: 50px;
	height: 100px;
	width: 100px;
	float: left;
}
.result-area img:nth-child(2) {
	margin-right: 50px;
	margin-left: 50px;
	height: 100px;
	width: 100px;
	float: right;
}
